<div ng-controller="NearbyCtrl" class="location-listing nearby">
    <h1>Search</h1>
    Near: <input ng-model="near" ng-change="exposedFoursquare()">
    <br>
    Radius: <input type="range" min="1" step="50" max="20000" ng-model="radius" ng-change="exposedFoursquare()">
    <div class="my-super-awesome-loading-box" ng-show="loadingTracker.active()">
        <div class="circle"></div>
        <div class="circle1"></div>
    </div>
    <h2 class="top">
        <button class="openSearch" ng-click="barState = !barState"><img src="assets/icons/icon-search.png"></button>
        <div ng-switch="locations.length">
            <div ng-switch-when="0">No results found</div>
            <div ng-switch-default>Listing places nearby
                <strong ng-switch="near">
                    <span ng-switch-when="undefined">you</span>
                    <span ng-switch-when="">you</span>
                    <span ng-switch-default>{{near}}</span>
                </strong>
                within <strong>{{radius}}</strong> meter radius
            </div>
        </div>
    </h2>
    <ul class="locations list">
        <li ng-repeat="location in locations" class="animate-repeat">
            <div class="image {{ location.venue.picClass }}"><img src="{{ location.venue.photos.groups.thePhoto }}" alt=""/></div>
            <a href="/section/{{theLocationType}}/{{location.venue.id}}/{{location.venue.venueName}}">
                <h2>{{ location.venue.name }}</h2>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
</div>