/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


@import 'variables.less';
@import 'other.less'; //TODO: NEED TO STRIP RATCHET LESS, to exactly what I need.
@import 'animation.less';
@import 'ng-carousel.less';


/* Code Starts here */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight: 200;
}

a {
  color: #157efb;
}


// Styles for the global search bar.


// Global Footer

.bar-tab {

  &.drawer-open {
    height: 140px;
  }
  .tab-inner {
    > li {

    }
  }
}

.footerBar {
  .homelink {
    display: none;
    position: absolute;
    top: -65px;
    left: 36%;
    width: 30%;
    overflow: hidden;
    height: 130%;


    img {
      width: 100%;
      border-radius: 100% 100% 0 0;
      border-top: 1px solid @grey;
      border-left: 1px solid @grey;
      border-right: 1px solid @grey;
    }
  }
}




/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/changelog/changelog.less';
@import '../app/section/section.less';
@import '../app/section/detail/detail.less';
@import '../app/settings/settings.less';

/*EXTRAS*/

@import '../app/extras/extras.less';
@import '../app/extras/d3/d3.less';
