<div class="searchBar" ng-class="{'search-closed': !barState, 'search-open': barState}"></div>
<div class="my-super-awesome-loading-box" ng-show="loadingTracker.active()">
  Loading...
</div>
<div ng-controller="DetailCtrl" class="location-detail" ng-show="!loadingTracker.active()">
  <div class="top-info">
    <div class="image"><img src="{{image}}" alt=""/></div>
    <div class="icon"><img src="{{icon}}" alt=""/></div>
    <h1>{{venue.name}}</h1>
  </div>
  <div class="address">
    <ul>
      <li class="desc" ng-if="categories">{{categories}} <span>&#187;</span></li>
      <li class="location"  ng-if="venue.location.address">{{venue.location.address}}, {{venue.location.city}} <span>&#187;</span></li>
      <li class="phone" ng-if="venue.contact.phone"><a href="tel://{{venue.contact.phone}}">{{venue.contact.formattedPhone}}</a> <span>&#187;</span></li>
      <li class="site" ng-if="venue.url"><a href="{{venue.url}}" target="_blank">{{venue.url}}</a>  <span>&#187;</span></li>
    </ul>
  </div>

  <div class="rating">
    <h2><img src="assets/icons/icon-stats.png"> Stats</h2>
    <ul>
      <li class="checkins"><h3>{{venue.stats.checkinsCount}} <span>Checkins</span></h3></li>
      <li class="likes"><h3>{{venue.likes.count}} <span>Likes</span></h3></li>
      <li class="users"><h3>{{venue.stats.usersCount}} <span>Users</span></h3></li>
      <li class="tips"><h3>{{venue.tips.count}} <span>Tips</span></h3></li>
    </ul>
  </div>

  <!-- Map Start -->
  <div class="map" id="map" ng-class="{'map-closed': !openMap, 'map-open': openMap}" ng-style="getWindowHeight()">
    <div class="overlay" ng-click="openMap = !openMap; scrollMap()">Open Map</div>
    <span ng-if="map !== undefined">
      <google-map center='map.center' zoom='map.zoom' options="map.options" draggable="true" ng-class="runHeight()">
        <marker coords='marker'
                >
        </marker>
      </google-map>
    </span>
  </div>
  <!-- Map END -->

  <div class="mayor">
    <ul>
      <li class="type">
        <div class="bar"></div>
        <div class="info">
          <div class="icon"><img src="assets/icons/icon-mayor.png"></div>
          <h3>Mayor</h3>
        </div>
      </li>
      <li class="name">{{venue.mayor.user.firstName}} {{venue.mayor.user.lastName}}</li>
      <li class="photo"><img src="{{venue.mayor.user.photo.prefix}}120x120{{venue.mayor.user.photo.suffix}}" alt="{{venue.mayor.user.firstName}} {{venue.mayor.user.lastName}}"/></li>
    </ul>
  </div>
  <div class="tips">
    <ul>
      <li class="type">
        <div class="bar"></div>
        <div class="info">
          <div class="icon"><img src="assets/icons/icon-tip.png"></div>
          <h3>Last Tip</h3>
        </div>
      </li>
      <li class="name">{{venue.tips.groups[0].items[0].text}}<span> - {{venue.tips.groups[0].items[0].user.firstName}}</span></li>
      <li class="photo"><img alt="{{venue.tips.groups[0].items[0].user.firstName}}" src="{{venue.tips.groups[0].items[0].user.photo.prefix}}120x120{{venue.tips.groups[0].items[0].user.photo.suffix}}"/></li>
    </ul>
  </div>

  <!-- Carousel START -->
  <div class="carousel">
    <div class="overlay" ng-click="startSlide = !startSlide" ng-class="{'slide-started': startSlide, 'slide-stopped': !startSlide}">
      <div class="inner">
        Swipe Gallery
      </div>
    </div>
    <span ng-if="images[0].scaledImage !== undefined">
      <ul rn-carousel class="image">
        <li ng-repeat="image in images" style="background-image: url({{image.scaledImage}})">
          <img src="{{image.scaledImage}}" alt="Photo of {{venue.name}} by {{image.user.firstName}}" ng-style="getWindowWidth()"/>
        </li>
      </ul>
    </span>
  </div>
  <!-- Carousel END -->


</div>