<div class="searchBar" ng-class="{'search-closed': !barState, 'search-open': barState}"></div>
<div class="settings" ng-controller="SettingsCtrl">

  <ul class="segmented-controller">
    <li class="active">
      <a ng-click="">Application</a>
    </li>
    <li>
      <a ng-click="">Developer</a>
    </li>
    <li>
      <a ng-click="">Experimental</a>
    </li>
  </ul>

  <ul class="settings">
    <li id="tab-application" class="tab-application active" ng-controller="AppSettingsCtrl">
      <ul class="list">

        <li class="list-divider">Location Providers</li>
        <li>
          Foursquare
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          Google
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          Bing
          <div class="toggle">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li class="list-divider">Favorites</li>
        <li>
          Enable Favorites
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>Show favorites <a class="button-positive">List</a></li>
        <li>Clear favorites <a class="button-negative">Delete</a></li>
        <li class="list-divider">Excluded</li>
        <li>
          Enable Excluded
          <div class="toggle active">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>Show excluded <a class="button-positive">List</a></li>
        <li>Clear excluded <a class="button-negative">Delete</a></li>
      </ul>
      <div class="location-cache">
        <a class="button-main button-block">Clear Location Cache</a>
      </div>
      <div class="reset">
        <a class="button-negative button-block">Reset all settings</a>
      </div>
    </li>
    <li id="tab-developer" class="tab-developer hidden" ng-controller="DeveloperSettingsCtrl">
      <ul class="list">
        <li class="list-divider">Console Messages</li>
        <li>
          Enable Console Debug (destop only)
          <div class="toggle" hm-tap="toggleDebug()" ng-class="{'active': toggleDebugStatus}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li class="list-divider">Change Database (Firebase has Facebook Authentication.)</li>
        <li class="databases">
          Firebase <span>MongoDB</span>
          <div class="toggle" hm-tap="toggleDatabase()" ng-class="{'active': databaseStatus}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li class="list-divider">Overlay Info (then start navigating the site)</li>
        <li>
          Loading times
          <div class="toggle" hm-tap="" ng-class="{'active': insertvar}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          FPS
          <div class="toggle" hm-tap="" ng-class="{'active': insertvar}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          Network Calls
          <div class="toggle" hm-tap="" ng-class="{'active': insertvar}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          Cookies
          <div class="toggle" hm-tap="" ng-class="{'active': insertvar}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li class="list-divider">Disable Libraries & Optimizations</li>
        <li>
          Disable FastClick
          <div class="toggle" hm-tap="" ng-class="{'active': insertvar}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          Other libaries ... more to come.
          <div class="toggle" hm-tap="" ng-class="{'active': insertvar}">
            <div class="toggle-handle"></div>
          </div>
        </li>
      </ul>
    </li>
    <li id="tab-experimental" class="tab-experimental hidden" ng-controller="ExperimentalSettingsCtrl">
      <ul class="list">
        <li class="list-divider red">DANGER! DANGER! RED ALERT!</li>
        <li class="list-divider">These are experimental features, may cause your phone to explode.</li>
        <li>
          Acceleration
          <div class="toggle" hm-tap="" ng-class="{'active': variableHere}">
            <div class="toggle-handle"></div>
          </div>
        </li>
        <li>
          Inertial sensor motion
          <div class="toggle" hm-tap="" ng-class="{'active': variableHere}">
            <div class="toggle-handle"></div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>