.settings-page {
  div.settings {
    padding-bottom: 60px;
  }
  ul.settings {
    .tab-application {
      .location-cache, .reset {
        padding: 0 10px;
      }
    }
    .tab-experimental {
      .list-divider.red {
        text-align: center;
        background-color: @red;
        background-image: none;
        color: #fff;
        text-shadow:  1px 0 rgba(0, 0, 0, 0.5)
      }
    }
    .tab-developer {
      .ng-hide {
        display: none !important;
      }
      li.databases {
        padding-right: 10px;
        > span {
          float: right;
        }
        .toggle {
          top: 50%;
          left: 50%;
          margin-left: -37px;
          background-color: @orange;
          border: 1px solid @orange;
        }
        /* Text indicating "on" or "off". Default is "off" */
        .toggle:before {
          color: #fff;
          text-shadow: 0 1px #fff;
          content: "F";
        }

        /* Sliding handle */
        .toggle-handle {
          border: 1px solid rgba(0, 0, 0, .2);
        }
        /* Active state for toggle */
        .toggle.active {
          background-color: @green;
          background-image: none;
          border: 1px solid @green;
        }

        /* Active state for toggle handle */
        .toggle.active .toggle-handle {
          border-color: @green;
        }

        /* Change "off" to "on" for active state */
        .toggle.active:before {
          left: 15px;
          color: #fff;
          text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
          content: "M";
        }
      }
      li.facebook-logged {
        padding-top: 12px;
        padding-bottom: 12px;
        span {
          background: transparent url(http://i870.photobucket.com/albums/ab265/fumccommunications/facebook_round_zpsd0ef1697.png) no-repeat left center;
          background-size: 12%;
          padding: 35px;
        }
      }
      li.facebook {
        padding: 15px;
        h3 {
          margin: 15px 0;
        }
        .input-group {}
        a.button-positive {
          left: auto !important;
          right: auto !important;
          position: relative;
          margin: 15px auto;
        }
      }
    }
    /*li.hidden {
      display: none;
    }
    li.active {
      display: block;
    }*/
  }
}